/* Большие экраны (1920px и выше) */
@media screen and (min-width: 1920px) {
    body {
        padding: 1vw;
    }

    header {
        justify-content: center;
    }

    p {
        font-size: 36px;
    }

    .menu {
        padding: 20px;
        font-size: 36px;
    }

    .menu_popup_item {
        font-size: 36px;
    }
}

/* Средние экраны (1440px - 1920px) */
@media screen and (max-width: 1920px) and (min-width: 1441px) {
    body {
        padding: 1.5vw;
    }

    p {
        font-size: 32px;
    }

    .menu {
        padding: 18px;
        font-size: 32px;
    }

    .menu_popup_item {
        font-size: 32px;
    }
}

/* Малые экраны (1023px - 1440px) */
@media screen and (max-width: 1440px) and (min-width: 1023px) {
    body {
        padding: 2vw;
    }

    p {
        font-size: 28px;
    }

    .menu {
        padding: 16px;
        font-size: 28px;
    }

    .menu_popup_item {
        font-size: 28px;
    }
}

/* Портретная ориентация планшетов (768px - 1024px) */
@media screen and (max-width: 1024px) and (min-width: 767px) {
    body {
        padding: 2.5vw;
    }

    p {
        font-size: 24px;
    }

    .menu {
        padding: 14px;
        font-size: 24px;
    }

    .menu_popup_item {
        font-size: 24px;
    }
}

/* Большие смартфоны (415px - 768px) */
@media screen and (max-width: 768px) and (min-width: 415px) {
    body {
        padding: 3vw;
    }

    p {
        font-size: 20px;
    }

    .menu {
        padding: 12px;
        font-size: 20px;
    }

    .menu_popup_item {
        font-size: 20px;
    }
}

/* Малые смартфоны (320px - 414px) */
@media screen and (max-width: 414px) and (min-width: 320px) {
    body {
        padding: 4vw;
    }

    p {
        font-size: 18px;
    }

    .menu {
        padding: 10px;
        font-size: 18px;
    }

    .menu_popup_item {
        font-size: 18px;
    }
}

.header_menu_item a {
    display: block;
    width: auto;
    height: auto;
    position: relative;
}

.close {
    width: 16px;
    height: 16px;
}

.about, .contacts, .shop, .services {
    padding: 12px;
    font-size: 24px;
}

.menu_popup {
    padding: 2vw;
}

.cover_index {
    padding-top: 5vh;
}

.big_text {
    font-size: 100px;
    -webkit-text-stroke: 10px black;
    text-stroke: 10px black;
}

.content {
    padding: 5vw;
}

.content p {
    font-size: 16px;
}

form {
    padding: 5vw;
}

form input, form button {
    font-size: 24px;
    height: 48px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 24px;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
}

#thankYouMessage {
    padding: 2vw;
}

.contactsMessage, .posters {
    width: 100%;
}

.content_services_item {
    height: 50vw;
}

.card {
    flex-direction: column;
}

.card_cover, .card_info {
    width: 100%;
    height: auto;
}

.card_info p {
    font-size: 6vw;
}

footer {
    flex-direction: column;
    align-items: center;
}

footer p {
    font-size: 12px;
}
