@media screen and (min-width: 1920px){

}

@media screen and (max-width: 1440px) and (min-width: 1023px) {

}

@media screen and (max-width: 1920px) and (min-width: 1441px){

}

@media screen and (max-width: 1024px) and (min-width: 767px) {
}

@media screen and (max-width: 768px) and (min-width: 415px) {
}

@media screen and (max-width: 414px) and (min-width: 320px) {
    p {
        font-size: 20px;
    }

    .menu {
        font-size: 16px;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
    }

    .cover_index {
        height: 100vh;
        padding-top: 0;
    }

    .big_text {
        font-size: 20vw;
        -webkit-text-stroke: 8px black;
        text-stroke: 8px black;
    }

    .menu_popup {

    }

    .menu_popup_item {
        font-size: 20px;
    }

    .menu_popup_item:hover {
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
    }

    .about {
        font-size: 16px;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
    }

    .content {
        margin-top: 16vh;
        padding: 0 2vw 0 2vw;
    }

    .aboutImg {
        height: 120px;

    }

    .contacts {
        font-size: 16px;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
    }

    .shop {
        font-size: 16px;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
    }

    .services {
        font-size: 16px;
        -webkit-text-stroke: 2px black;
        text-stroke: 2px black;
    }

    
}